*{
    margin: 0px;
    font-family: 'Arial';
}
.fig {
    display: block; /* Блочный элемент (для старых браузеров) */
    text-align: center; /* Выравнивание по центру */
   
    margin-top: 0; /* Отступ сверху */
    margin-bottom: 0px; /* Отступ снизу */
    color: #666; /*0вет подрисуночной подписи */

}
.figl {
    display: block; /* Блочный элемент (для старых браузеров) */
    text-align: center; /* Выравнивание по центру */
   
   
    color: #666; /* Цвет подрисуночной подписи */
    
   }

/*
#summers
{
    height: 100px;
    width: 100px;
    background: url( img/sumers.png);
}*/
.more_h_one
{
    line-height: 130%;
    font-size: 14pt;
    color: #6d7e44;
}

.more_one
{
     font-size: 12pt;
}
.more_two
{
     font-size: 12pt;
}
.more_h_two
{
    line-height: 130%;
     font-size: 14pt;
    color: #6d7e44;
}
.more_1
{
    
    float: right;
    width: 255px;
    margin-right: 315px;
}
.more_2
{
    margin-top: 10PX;
    
   position: absolute;
    float:right;
     width: 255px;
    margin-left: 315px;
    
}
#hei
{
    height: 430px;
}
.big_more
{
    padding-left:30px;
    font-size: 14pt;
    color: #6d7e44;
    line-height: 140%;
  
}
.p_big_more
{
    line-height: 140%;
    width: 550px;
    font-size: 12pt;
     padding-left: 30px;
    
}
#hr_bot
{
    color: aqua;
    width: 1000px;
}
.bra
{
    width: 370px;
    font-size: 14pt;
    
}
.am
{
    font-size: 11pt;
    width: 370px;
    
}
a
{
    color: #6d7e44;
     text-decoration: none;
    
}
.last
{
    width: 500px;
    padding-left: 100px;
    padding-top: 80px
    
}
.bg
{
    margin-top: -15px;
    padding-top: 10px; 
    background: #fff;
    z-index: 2;
    margin-left: 375px;
    margin-right: 375px;
}
.bg_all
{
    z-index: 1;
  background: rgb(240, 242, 234);
}

li {
    width: 30px;
    list-style-type: none;  
     display:inline-block; /* расположить пункты горизонтально */

        text-align: center; /* текст горизонтально по центру */
    margin: 0; /* убрать внутренние отступы */

        padding: 0; /* убрать внешние отступы */
    
   }
   ul {
       margin-top: -111px;
       margin-right: 130px;
       float: right;
       display: inline;
      }
.h_las
{
    float: right;
    margin-right: 161px;
    color: #6d7e44;
    margin-top: -70px;
    font-size: 12pt;
}
#foot
{
   text-align: center;
    margin-top: 100px;
}
.here
{
    text-decoration: underline;
    color: black;
}
.fig:hover

a:hover
{
    
}
.foot1
{
   
    margin-top: 40px;
    margin-bottom:40px;
    text-align: center;
    
}
.foot11
{
   
    margin-top: 50px;
    margin-bottom:50px;
    text-align: center;
    
}
.figlq {
    display: block; /* Блочный элемент (для старых браузеров) */
    text-align: center; /* Выравнивание по центру */
    margin-bottom: 0px; /* Отступ снизу */
    color: #666; /*0вет подрисуночной подписи */
    

}



