* {   
    margin:0px; 
    
}
body
{
    background: url(img/f.jpg);
    margin-bottom: 0px;
}

#panorama
{
   width: 697px;
    float: left; 
  margin-left:0px;
}
#logo
{
    background:#4b4848 ;
    float: left; 
    width: 200px;
    height: 100px;
    
}
#logo:hover
{
    background: rgb(49, 47, 42);
}

.clear {
    clear: left; /* Отмена обтекания */
   }
/* меню для сайта*/
/* --------------------------
AUTHOR : STYLED MENUS
URL : http://www.styledmenus.com
Copyrights by STYLED MENUS
----------------------------*/

ul {
    padding: 0; /* Убираем поля */
    margin-left: 0px; /* Отступ слева */
   }
#menu
{
     
     float: left,right;
		background:#4b4848  repeat-y left;
		width:200px;
		margin-top: 1px;  
	}
		#menu ul{
			
		}
			#menu li{
				list-style:none;
				display:block;
				border-bottom:1px solid #fff;
			}
				#menu li a{
					
					display:block;
					color:#a2a2a2;
					font-weight:bold;
					text-transform:uppercase;
					font-size:13px;
					text-decoration:none;
					padding:15px 0 15px 35px;
                    font-size: 17px;
				}
					#menu li a:hover{
                        padding-right: 10px;
                        text-align: right;
						background:#363531  repeat-y left;
						color:#fff;
						text-decoration:none;
					}
				#menu li .current{
					list-style:none;
					display:block;
					background:#312f2a  repeat-x left;
					color:#000;
					text-transform:uppercase;
					text-decoration:none;
					padding:15px 0 15px 45px;
				}
					#menu li a.current, #menu li a:hover.current{
						background:#62615f  repeat-x left;
						color:white;
						text-decoration:none;					
					}

#marg
{
    width: 100px;
    height: 90px
}
#content
{
    min-width: 1090px;
     float: left;
     float: right;
   width: 1090px;
    margin-right: 50px;
  color: #433e3e;
       
}
.h1-reid
{
    text-align: left;
    color: #000000;
}

#top
{
    margin-right: 0px;
    margin-top: -348px;
    float: right;
    width: 70px;
    height: 55%;
    background: ;
    text-align: center;
    z-index: 2;
    position: fixed;
    margin-left: 95%;
    
}
#all
{
    width: 100%;
     position: relative;
    z-index: 1;
}
#top:hover 
{
    
    border-radius: 50px;
    background: rgba(128, 148, 203, 0.15);
    
    
}
#top:hover::after
{
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 20%; top: 30%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */0
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 15px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    
}
.li-strong
{
    background: #312c2c;
    text-align: right;
    border-color: white;
    
}
p
{
  font-size: 17px;   
  margin-left: 10px;
}
.li-main
{
   padding-right: 10px;
    text-align: right;
	background:#363531  repeat-y left;
	color:white;
}
