* {
    font-family: MyriadPro;
}

.header {
    width: 1070px;
    height: 100px;
    padding-left: 135px;
    padding-right: 135px;
    background: white;
}

.Logo {
    float: left;
    margin-top: 30px;
}

.block-img {
    display: block;
    margin: 0 auto;
}

.menu {
    float: right;
    width: 570px;
}

.menu_block {
    display: inline-block;
    height: 90px;
    width: 91px;
    text-align: center;
    line-height: 90px;
    font-size: 15pt;
}

.banner {
    background: url(img/ban.png) #49cbcd;
    width: 100%;
    height: 560px;
    text-align: center;
}

.This {
    font-size: 63pt;
    color: white;
    padding-top: 140px;
}

.lorem {
    color: white;
    font-size: 23pt;
    text-shadow: 1px;
}

.button_mor {
    border-radius: 5px;
    background: none;
    border: 3px solid white;
    height: 65px;
    width: 225px;
    margin-top: 60px;
    color: white;
    font-size: 26pt;
}

.left_next {
    float: left;
}

.right_next {
    float: right;
    margin-top: -15px;
}

.team {
    height: 700px;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 100px;
    text-align: center;
}

.box_team {
    display: inline-block;
    margin-top: 100px;
    height: 450px;
    width: 20%;
    margin-left: 25px;
    z-index: 1;
}

.team_h {
    font-size: 42pt;
}

.elip_h3 {
    font-size: 22pt;
    margin-top: 45px;
}

.elip_p {
    margin-top: 35px;
    line-height: 1.3;
}

.ml0 {
    margin-left: 0;
}

.plans {
    height: 735px;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 115px;
    text-align: center;
    background: #fff;
}

.block_byu {
    height: 525px;
    width: 30%;
    margin-left: 30px;
    display: inline-block;
    float: left;
    border: 1px solid #ecf0f1;
}

.head_bleock {
    height: 70px;
    background: #485460;
    text-align: center;
    color: white;
    line-height: 70px;
    font-size: 26pt;
}

.price {
    height: 70px;
    line-height: 70px;
    font-size: 20pt;
    color: #485460;
    background: #f8f9fb;
}

.inf {
    height: 45px;
    line-height: 45px;
    color: #8c9299;
    margin-top: 1px;
border: 1px solid #ecf0f1;
}
.border_top{
    border-top: 0px;
}


.block_byu_now {
    height: 100px;
    background: #f8f9fb;
    align-content: center;
    text-align: center;
    line-height: 100px;
}

.butt_byu_now {
    background: #788492;
    height: 40px;
    width: 160px;
    color: white;
    font-size: 14pt;
    border: none;
    border-radius: 3px;
}

.conract_us {
    height: 690px;
    background: url(img/bc.png) rgba(77, 77, 77, 0.92);
    text-align: center;
     padding-left: 135px;
    padding-right: 135px;
        
}

.cont_h {
    
    padding-top: 90px;
    font-size: 42pt;
    color: #fff;
    width: 500px;
     display: inline-block;
    
}

.block_left {
   
float: left;
    width: 50%;
    padding-top: 100px;
}

.block_right {
    padding-top: 100px;
    float: right;
    width: 50%;
}

.h5_get {
    font-size: 24pt;
    color: white;
    float: left;
   
     color: #ecf0f1;
    
}

.p_cont {
    font-size: 14pt;
    color: white;
    float: left;
      padding-top: 10px;
    text-align: left;
    color: #ecf0f1;
    line-height: 25px;
}

.soc {
 display: inline-block;
    margin-left: 10px;
}

.soc_ul {
    margin-top: 30px;
    
    float: left;
    width: 500px;
    text-align: left;
}

.inf_p {
    float: left;
   margin-top: 20px;
    display: inline;
    line-height: 25px;
    text-align: left;
    color: #bface2;
    font-size: 14pt;
}

.top_none {
    margin-top: 0;
}

.Name_inp {
    height: 40px;
width: 250px;
border-radius: 3px;
    color: #c1c1c1;
    font-size: 16pt;
    margin-left: 5px;
}

.Email_inp {
      height: 40px;
width: 250px;
border-radius: 3px;
    color: #c1c1c1;
    font-size: 16pt;
    margin-left: 20px;
}

.messedg_inp {
      height: 170px;
width: 530px;
border-radius: 3px;
    color: #c1c1c1;
    font-size: 16pt;
    margin-left: 5px;
    margin-top: 25px;

    text-align: left;
}

.buttom_send {
    float: right;
    height: 45px;
    width: 170px;
    background: #49cbcd;
    border-radius: 3px;
    color: #fff;
    font-size: 22pt;
    line-height: 45px;

    margin-top: 30px;
}
